{% extends 'pyforum/base.html' %}

{% block title %}
{% ifequal mode 'new_thread' %}
  Compose New Thread
{% else %}
{% ifequal mode 'new_post' %}
  Compose New Post
{% else %}
{% ifequal mode 'edit_post' %}
  Edit Post
{% endifequal %}{% endifequal %}{% endifequal %} | PyForum
{% endblock %}

{% block nav %}
<span>
  <a href="{% url 'pyforum:forum_list' %}">PyForum</a> >>
</span>
{% ifequal mode 'new_thread' %}
<span>
  <a href="{% url 'pyforum:forum_detail' forum.id %}">{{ forum.title }}</a>
</span>
<span>
  <a href="">Compose</a>
</span>
{% else %}{% ifequal mode 'new_post' %}
<span>
  <a href="{% url 'pyforum:forum_detail' thread.forum.id %}">{{ thread.forum.title }}</a> >>
</span>
<span>
  <a href="{% url 'pyforum:thread_detail' thread.id %}">{{ thread.title }}</a> >>
</span>
<span>
  <a href="">Compose</a>
</span>
{% else %}{% ifequal mode 'edit_post' %}
<span>
  <a href="{% url 'pyforum:forum_detail' post.thread.forum.id %}">{{ post.thread.forum.title }}</a> >>
</span>
<span>
  <a href="{% url 'pyforum:thread_detail' post.thread.id %}">{{ post.thread.title }}</a> >>
</span>
<span>
  <a href="">Edit</a>
</span>
{% endifequal %}{% endifequal %}{% endifequal %}
{% endblock %}

{% block content %}
<form role="form" action="{% url 'pyforum:save_post' %}" method="POST">
  {% csrf_token %}

  <div class="form-group">
    <label for="input_title">Title</label>
    <input type="text" name="title" id="input_title" class="form-control" 
      {% ifequal mode 'new_thread' %}
        placeholder="Enter Title"
      {% else %}{% ifequal mode 'new_post' %}
        value="Re: {{ thread.title }}"
      {% else %}{% ifequal mode 'edit_post' %}
        value="{{ post.title }}"
      {% endifequal %}{% endifequal %}{% endifequal %} />
  </div>
  
  <div class="form-group">
    <label for="input_content">Content</label>
    <textarea name="content" id="input_content" class="form-control" rows="12">{% ifequal mode 'edit_post' %}{{ post.content }}{% endifequal %}</textarea>
  </div>

  <input type="hidden" name="user_id" value="{{ user.id }}">
  <input type="hidden" name="mode" value="{{ mode }}" />

  {% ifequal mode 'new_thread' %}
  <input type="hidden" name="forum_id" value="{{ forum.id }}">
  <div class="checkbox">
    <label><input type="checkbox" name="pinned" />Pin</label><br />
    <label><input type="checkbox" name="highlighted" />Highlight</label>
  </div>
  {% else %}{% ifequal mode 'new_post' %}
  <input type="hidden" name="thread_id" value="{{ thread.id }}">
  {% else %}{% ifequal mode 'edit_post' %}
  <input type="hidden" name="post_id" value="{{ post.id }}">
  {% endifequal %}{% endifequal %}{% endifequal %}
  <div class="checkbox">
    <label><input type="checkbox" name="add_signature" />Include my signature</label>
  </div>
  
  <input type="submit" class="btn btn-warning btn-lg" value="Submit" />
</form>
{% endblock %}