{% extends 'pyforum/base.html' %}

{% block title %}{{ forum.title }} | PyForum{% endblock %}

{% block nav %}
<span>
  <a href="{% url 'pyforum:forum_list' %}">PyForum</a> >>
</span>
<span>
  <a href="">{{ forum.title }}</a>
</span>
{% endblock %}

{% block content %}
  <div id="thread_list">

  {% if user.is_authenticated %}
  <a href="{% url 'pyforum:compose_thread' forum.id %}" class="btn btn-warning">New Thread</a>
  {% endif %}

  {% for thread in threads %}
  <section class="row">
    <span class="col-md-6">
      <a href="{% url 'pyforum:thread_detail' thread.id %}">{{ thread.title }}</a>
    </span>
    <span class="col-md-1">
      <a href="{% url 'pyforum:user_detail' thread.post_set.all.0.user.id %}">{{ thread.post_set.all.0.user.username }}</a>
    </span>
    <span class="col-md-2">
      {{ thread.num_of_clicks }} Click{{ thread.num_of_clicks|pluralize }}, 
      {{ thread.post_set.all.count }} Post{{ thread.post_set.all.count|pluralize }}</span>
    <span class="col-md-3">Posted: {{ thread.time_posted|date:"Y-m-d H:i:s" }}</span>
  </section>
  <hr />
  {% empty %}
  <p class="row text-danger">
    No thread is returned ! Did you enter an invalid URL ?
  </p>
  {% endfor %}

  {% if user.is_authenticated %}
  <a href="{% url 'pyforum:compose_thread' forum.id %}" class="btn btn-warning">New Thread</a>
  {% endif %}
  
  </div>
{% endblock %}