{% extends 'pyforum/base.html' %}

{% block title %}{{ forum.title }} | PyForum{% endblock %}

{% block nav %}
<nav class="row">
  <span>Your location: <a href="../../">PyForum</a> >>
    <a href="">{{ forum.title }}</a>
  </span>
</nav>
{% endblock %}

{% block content %}
  {% for t in threads %}
  <section class="row">
    <span class="col-md-6"><a href="../../thread/{{ t.id }}/">{{ t.title }}</a></span>
    <span class="col-md-2"><a href="../../user/1/">user</a></span>
    <span class="col-md-2">Clicks: {{ t.num_of_clicks }}</span>
    <span class="col-md-2">Posted: {{ t.time_posted }}</span>
  </section>
  {% endfor %}
{% endblock %}