{% extends 'pyforum/base.html' %}

{% block title %}Sign In | PyForum{% endblock %}

{% block nav %}
<span>
  <a href="{% url 'pyforum:forum_list' %}">PyForum</a> >>
</span>
<span>
  <a href="">Sign In</a>
</span>
{% endblock %}

{% block content %}
<form role="form" class="form-horizontal" action="{% url 'pyforum:auth_user' %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label class="col-md-1 control-label">Username: </label>
    <div class="col-md-3">
      <input type="text" name="username" class="form-control" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-1 control-label">Password: </label>
    <div class="col-md-3">
      <input type="password" name="password" class="form-control" />
    </div>
  </div>

  <div class="form-group">
    <input type="submit" class="col-md-1 btn btn-warning" value="Sign In" />
  </div>
</form>
{% endblock %}