{% extends 'pyforum/base.html' %}

{% block title %}Sign Up | PyForum{% endblock %}

{% block nav %}
<span>
  <a href="{% url 'pyforum:forum_list' %}">PyForum</a> >>
</span>
<span>
  <a href="">Sign Up</a>
</span>
{% endblock %}

{% block content %}
<form role="form" class="form-horizontal" action="{% url 'pyforum:save_user' %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="input_username" class="col-md-1 control-label">Username: </label>
    <div class="col-md-3">
      <input type="text" name="username" id="input_username" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label for="input_email" class="col-md-1 control-label">Email: </label>
    <div class="col-md-3">
      <input type="email" name="email" id="input_email" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label for="input_password" class="col-md-1 control-label">Password: </label>
    <div class="col-md-3">
      <input type="password" name="password" id="input_password" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label for="input_signature" class="col-md-1 control-label">Signature: </label>
    <div class="col-md-5">
      <textarea name="signature" rows="5" id="input_signature" class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group">
    <input type="submit" class="col-md-1 btn btn-warning" value="Sign Up" />
  </div>
</form>
{% endblock %}