{% extends 'pyforum/base.html' %}

{% block title %}{{ thread.title }} | {{ thread.forum.title }} | PyForum{% endblock %}

{% block nav %}
<nav class="row">
  <span>Your location: <a href="{% url 'pyforum:forum_list' %}">PyForum</a> >>
    <a href="{% url 'pyforum:forum_detail' thread.forum.id %}">{{ thread.forum.title }}</a> >>
    <a href="">{{ thread.title }}</a>
  </span>
</nav>
{% endblock %}

{% block content %}
  <a href="{% url 'pyforum:compose_post' thread.id %}" class="btn btn-default">Reply</a>
  {% for post in thread.post_set.all %}
  <article class="row">
    <header class="col-md-offset-1"><h3>{{ post.title }}</h3></header>
    <p class="col-md-offset-1">
      Posted: {{ post.time_posted }} By: <a href="{% url 'pyforum:user_detail' post.user.id %}">{{post.user.username}}</a>
    </p>
    <p class="col-md-10 col-md-offset-1">{{ post.content }}</p>
  </article>
  {% endfor %}
  <a href="{% url 'pyforum:compose_post' thread.id %}" class="btn btn-default">Reply</a>
{% endblock %}