{% extends 'pyforum/base.html' %}

{% block title %}{{ thread.title }} | {{ forum.title }} | PyForum{% endblock %}

{% block nav %}
<nav class="row">
  <span>Your location: <a href="../../">PyForum</a> >>
    <a href="../../forum/{{ forum.id }}/">{{ forum.title }}</a> >>
    <a href="">{{ thread.title }}</a>
  </span>
</nav>
{% endblock %}

{% block content %}
  {% for p in posts %}
  <article class="row">
    <header class="col-md-offset-1"><h3>{{ p.title }}</h3></header>
    <p class="col-md-offset-1">Posted: {{ p.time_posted }}</p>
    <p class="col-md-10 col-md-offset-1">{{ p.content }}</p>
  </article>
  {% endfor %}
{% endblock %}