{% extends 'pyforum/base.html' %}

{% block title %}User: {{ user.username }} | PyForum{% endblock %}

{% block nav %}
<nav class="row">
  <span>Your location: <a href="../../">PyForum</a> >>
    <a href="../../user/{{ user.id }}">User Detail</a></span>
</nav>
{% endblock %}

{% block content %}
<section class="row">
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Signature: {{ user.signature }}</p>
  <p>Date Joined: {{ user.date_joined }}</p>
</section>
{% endblock %}