{% extends 'pyforum/base.html' %}

{% block title %}User: {{ user.username }} | PyForum{% endblock %}

{% block nav %}
<nav class="row">
  <span>Your location: <a href="{% url 'pyforum:forum_list' %}">PyForum</a> >>
    <a href="">User Detail</a>
  </span>
</nav>
{% endblock %}

{% block content %}
<section class="row">
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Signature: {{ user.signature }}</p>
  <p>Date Joined: {{ user.date_joined }}</p>
  <b>Posts:</b>
  {% for post in user.post_set.all %}
  <p>{{ post.title }}   ---   {{ post.time_posted }}</p>
  {% endfor %}
</section>
{% endblock %}